div .BoxInfo {
  background-color: #fff;
}
div .ListInfo {
  flex-direction: row;
  background-color: #0000;
}
div p {
  font-size: 20px;
  margin-top: 0px;
  color: rgb(85, 85, 85);
  text-align: left;
}
.ImgUser {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
button {
  margin-top: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 700px;
  border-radius: 20px;
  flex-direction: row;
}
